* {
  margin: 0;
  padding: 0;
}

.page {
  font-family: Verdana, sans-serif;
  font-size: 15px;
}

.header {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  letter-spacing: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px;
}

.nav__list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 24px;
}

.logo__effect {
  font-weight: 700;
  margin-right: 8px;
}

.hero {
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__title {
  color: white;
  letter-spacing: 4px;
  font-size: 36px;
  font-weight: normal;
}

.hero__effect {
  background-color: rgba(0,0,0, 0.75);
  padding: 8px 16px;
  margin-right: 8px;
  font-weight: bold;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
}

.project {
  width: 250px;
}

.project__image {
  width: 100%;
}